body {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-rows: repeat(28, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.nav {
  grid-column: 1/24;
  display: grid;
  grid-template-columns: inherit;
  justify-content: center;
  align-items: center;
}

.nav > p {
  cursor: pointer;
}

.nav > #brand {
  text-align: center;
  grid-column: 2/3;
}

.nav > #how {
  text-align: center;
  grid-column: 7/8;
}

.nav > #blog {
  text-align: center;
  grid-column: 8/9;
}

.nav > #acc {
  text-align: center;
  grid-column: 9/10;
}

.nav > #view {
  text-align: center;
  width: 180px;
  padding: 10px;
  border: 2px solid black;
  grid-column: 10/12;
}

.hero {
  grid-row: 2/12;
  grid-column: 1/24;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(42, 34, 69, 1) 58%,
    rgba(18, 108, 126, 1) 100%
  );
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.hero > h1 {
  color: white;
  grid-column: 3/7;
  grid-row: 2/3;
}

.hero > #desc {
  color: white;
  grid-column: 3/7;
  grid-row: 3/5;
}

.hero > #viewPlans {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  text-align: center;
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 35%;
}

.placeholder {
  background: rgb(65, 65, 65);
  background: linear-gradient(
    0deg,
    rgba(65, 65, 65, 1) 0%,
    rgba(72, 72, 74, 1) 58%,
    rgba(110, 110, 110, 1) 100%
  );
  grid-column: 7/11;
  grid-row: 4/14;
}

.subhero {
  grid-row: 15/ 25;
  grid-column: 1/13;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.subhero > #sub-intro {
  grid-column: 2/4;
}

.subhero > .icon-1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: grey;
  grid-row: 3/4;
  grid-column: 2/3;
}

.subhero > .icon-desc {
  grid-row: 4/ 5;
  grid-column: 2/4;
}

.subhero > .icon-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: grey;
  grid-row: 3/4;
  grid-column: 5/6;
}

.subhero > .icon-desc-2 {
  grid-row: 4/5;
  grid-column: 5/7;
}

.subhero > .icon-3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: grey;
  grid-row: 3/4;
  grid-column: 8/10;
}

.subhero > .icon-desc-3 {
  grid-row: 4/5;
  grid-column: 8/10;
}

.outro {
  background: slategray;
  grid-row: 6/9;
  grid-column: 2/12;
}

.footer {
  background: #ddd;
  grid-row: 26/29;
  grid-column: 1/13;
}
